@font-face {
  font-family: 'FiraSans';
  src: url(../../assets/fonts/FiraSans-Regular.otf)
}

@font-face {
  font-family: 'FiraSans';
  src: url(../../assets/fonts/FiraSans-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Invention';
  src: url('../../assets/fonts/Invention_W_Rg.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/Invention_W_Rg.woff') format('woff'), /* Modern Browsers */
        url('../../assets/fonts/Invention_A_Rg.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Invention';
  src: url('../../assets/fonts/Invention_W_Bd.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/Invention_W_Bd.woff') format('woff'), /* Modern Browsers */
        url('../../assets/fonts/Invention_A_Bd.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}

body {
  overflow: auto;
  min-width: 1260px;
}

#fondo {
  background: url(../../assets/ELANCO-37_EDIT_ACOPIO.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  font-family: 'Invention';
}

* {
  user-select: none;
}

a {
  text-decoration: none;
}

.contenido {
  background-color: rgba(255, 255, 255, 0.9);
  flex: 1;
}

.barra-superior-contenido {
  height: 50px;
  width: 100%;
  background-color: var(--color-a);
  display: flex;
  align-items: center;
}

.barra-superior-contenido-principal {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-a);
}

.titulo-contenido {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  margin-left: 24px;
  display: flex;
}

.contenido-contenido {
  padding: 20px 32px;
  padding-bottom: 0;
}

.contenido-contenido label {
  display: block;
  margin-bottom: 4px;
  font-size: .85em;
}

.contenido-contenido input {
  padding: 8px;
  margin-bottom: 12px;
  font-size: 0.9em;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.contenido-contenido select, .contenido-contenido input {
  border-color: #90A4AE;
}

.contenido-secundario {
  background: white;
  flex: 2;
  border-bottom-right-radius: 8px;
  transition: all .5s ease-in-out;
}

.titulo-contenido-secundario {
  height: 50px;
  width: 100%;
  background-color: var(--color-a-l);
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}

.titulo-contenido-secundario h1 {
  margin-left: 24px;
  font-size: 1em;
  font-weight: bold;
}

.contenido-secundario-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32px;
  box-sizing: border-box;
  height: 80vh;
}

select {
  font-family: 'Invention';
  font-size: .9em;
}

input {
  font-family: 'Invention';
  font-size: .9em;
}

button {
  font-family: 'Invention';
  display: block;
  background-color: var(--color-a);
  border: 0;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 8px;
}

button:disabled {
  background-color: gray;
  color: lightgray;
}

input:focus, select:focus, button:focus {
  outline: none;
}

.icono-accion-secundaria {
  margin-right: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--color-a);
  padding: 8px 16px;
  border-radius: 16px;
  transition: background-color .25s ease-in-out;
}

.icono-accion-secundaria:hover {
  background-color: rgb(34, 133, 190);
}

.icono-accion-secundaria a {
  display: flex;
  align-items: center;
}

.icono-accion-secundaria a span, .icono-accion-secundaria span {
  font-size: .75em;
  margin-right: 8px;
  color: white;
}

.App {
  --color-slice: #09558c;
  --color-a-l: #2c4768;
  --color-a: #0c2340;
  --color-b: #69b8f7;
  --color-c: rgb(104, 140, 232);
  --color-d: #5350e4;
  --color-e: #706f6f;
  --color-f: rgb(0, 255, 255);
  --color-g: rgb(239, 248, 252);
  --color-h: #bfed33;
  --color-i: #fff063;
  --color-j: #9dcbee;
}